<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   RainbowChat4i.plist
   RainbowChat4i

   Created by suncity on 2019/9/29.
   Copyright (c) 2019 JackJiang. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://127.0.0.1:8080/Hitalk.ipa</string>
                        <key>New item</key>
                        <string></string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>net.52im.rainbowchatpro</string>
                    <key>bundle-version</key>
                    <string>1.3</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>Hitalk</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
